body{
    padding: 98px;
}

/* Hero Image */

.heroImg{
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.Hero-Container{
    padding: 47px;
}

.hero-col{
    padding: 80px;
}

.Tool-item row{
    padding-left: 0px;
    list-style: none;
    justify-content: space-around;

}

hr.solid {
    border-top: 3px solid #bbb;
}

/* background overview */
.background-row{
    background-color: rgba(95, 164, 151, 0.3);
    border-radius: 30px;
}

/* Problem Statement/Solution */

.problem-col{
    padding: 80px;
}

.Problem-container{
    margin-right: auto;
    margin-left: auto;
}

mark{
    font-weight: bold;
}

/* Design Process */

/* Research */
.takehome-list{
    font-size: 18px;
}



.overview-row{
    justify-content: space-between;
    padding: 80px;
}

.design-col{
    align-content: center;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 64px;
}

#UserPersona{
    max-width: 100%;
    max-height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px;
}



#story-img{
    max-width: 100%;
    max-height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px;
}

#Wireframe{
    max-width: 100%;
    max-height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px;
}

#stylesheet-img{
    max-width: 100%;
    max-height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px;
}


/* Prototype */
#prototype-video{
    max-width: 100%;
    max-height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px;
}


/* footer */
#footer-copyright{
    text-align: center;
}